body {
  font-family: "Poppins", sans-serif;
}

.game {
  display: -ms-grid;
  display: grid;
  height: 60vh;
  width: 60vh;
  grid-gap: 2vh;
  margin: auto;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-row: auto auto auto auto;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.game div {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 6px 6px 6px #00000005;
          box-shadow: 6px 6px 6px #00000005;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.game div:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.game .empty {
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.game .empty:hover {
  background-color: rgba(255, 255, 255, 0);
}

.container-button,
.container-header,
.containerfinish {
  display: -ms-grid;
  display: grid;
  height: 10vh;
  width: 70vh;
  grid-gap: 2vh;
  margin: auto;
  grid-row: auto;
}

.container-button {
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.container-header {
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.containerfinish {
  grid-gap: 0px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.container-button > div,
.container-header > div,
.containerfinish > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.container-button > div button,
.container-header > div button,
.containerfinish > div button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 10px 15px;
  -webkit-box-shadow: 6px 6px 6px #00000005;
          box-shadow: 6px 6px 6px #00000005;
}

.container-button > div button:hover,
.container-header > div button:hover,
.containerfinish > div button:hover {
  background-color: black;
}

.container-button > div button:focus,
.container-header > div button:focus,
.containerfinish > div button:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.containerfinish > div button {
  display: none;
}

.container-header > div .timer {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 10px 15px;
  -webkit-box-shadow: 6px 6px 6px #00000005;
          box-shadow: 6px 6px 6px #00000005;
}

.container-header > div .timer:hover {
  background-color: black;
}

.container-header > div .timer:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.container-header > div .select {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 10px 15px;
  -webkit-box-shadow: 6px 6px 6px #00000005;
          box-shadow: 6px 6px 6px #00000005;
}

.container-header > div .select:hover {
  background-color: black;
}

.container-header > div .select:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */