$black: rgb(0, 0, 0);
$noopacity: rgba(255, 255, 255, 0);
$buttonColor: rgba(0, 0, 0, 0.5);
$shadow: 6px 6px 6px #00000005;
$white: rgba(255, 255, 255, 0.9);

* {
  font-family: "Poppins", sans-serif;
}

@mixin displayFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin buttonStyle {
  background-color: $buttonColor;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding: 10px 15px;
  box-shadow: $shadow;
  &:hover {
    background-color: $black;
  }
  &:focus {
    outline: none;
    background-color: $buttonColor;
    border-color: $black;
    box-shadow: 0 0 0 0.2rem $buttonColor;
  }
}
.game {
  display: grid;
  height: 415px;
  width: 415px;
  grid-gap: 5px;
  margin: auto;
  grid-template-columns: 100px 100px 100px 100px;
  grid-row: 100px 100px 100px 100px;
  transition: all 0.1s ease;
  // box-shadow: $shadow;
  div {
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 5px;
    @include displayFlex(center, center);
    cursor: pointer;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: $white;
    }
  }
  .empty {
    background-color: $noopacity;
    box-shadow: none;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: $noopacity;
    }
  }
}
.container-button,
.container-header,
.containerfinish {
  height: 10vh;
  width: 70vh;
  margin: auto;
  @include displayFlex(space-evenly, center);
}
.container-button > div,
.container-header > div,
.containerfinish > div {
  @include displayFlex(center, center);
  transition: all 0.1s ease-in;
  button {
    @include buttonStyle();
  }
}
.containerfinish > div button {
  display: none;
}
.container-header > div {
  .timer {
    @include buttonStyle();
  }
  .select {
    cursor: pointer;
    color: $white;
    background-color: $buttonColor;
    padding: 5px 10px;
    &:hover {
      background-color: $black;
    }
    &:focus {
      outline: none;
      background-color: $buttonColor;
      border-color: $black;
      box-shadow: 0 0 0 0.2rem $buttonColor;
    }
  }
}

@media only screen and (max-width: 768px) {
  #difficulty,
  #timer {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
  .container-header,
  .container,
  .container-button,
  .containerfinish {
    width: 90%;
    padding: 0;
    margin: auto;
    flex-wrap: wrap;
    div button {
      padding: 0.5rem 0.75rem;
      font-size: 0.8rem;
    }
  }
  .game {
    height: 326px;
    width: 326px;
    grid-gap: 2px;
    margin: auto;
    grid-template-columns: 80px 80px 80px 80px;
    grid-row: 80px 80px 80px 80px;
  }
  .container-button > div {
    grid-gap: 10px;
  }
}
