$black: rgb(0, 0, 0);
$noopacity: rgba(255, 255, 255, 0);
$buttonColor: rgba(0, 0, 0, 0.5);
$shadow: 6px 6px 6px #00000005;
$white: rgba(255, 255, 255, 0.9);

body {
  font-family: "Poppins", sans-serif;
}

@mixin displayFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin buttonStyle {
  background-color: $buttonColor;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding: 10px 15px;
  box-shadow: $shadow;
  &:hover {
    background-color: $black;
  }
  &:focus {
    outline: none;
    background-color: $buttonColor;
    border-color: $black;
    box-shadow: 0 0 0 0.2rem $buttonColor;
  }
}
.game {
  display: grid;
  height: 60vh;
  width: 60vh;
  grid-gap: 2vh;
  margin: auto;
  grid-template-columns: auto auto auto auto;
  grid-row: auto auto auto auto;
  transition: all 0.1s ease;
  div {
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 5px;
    @include displayFlex(center, center);
    cursor: pointer;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: $white;
    }
  }
  .empty {
    background-color: $noopacity;
    box-shadow: none;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: $noopacity;
    }
  }
}
.container-button,
.container-header,
.containerfinish {
  display: grid;
  height: 10vh;
  width: 70vh;
  grid-gap: 2vh;
  margin: auto;
  grid-row: auto;
}
.container-button {
  grid-template-columns: auto auto auto auto;
}
.container-header {
  grid-template-columns: auto auto auto;
}
.containerfinish {
  grid-gap: 0px;
  grid-template-columns: auto;
}
.container-button > div,
.container-header > div,
.containerfinish > div {
  @include displayFlex(center, center);
  transition: all 0.1s ease-in;
  button {
    @include buttonStyle();
  }
}
.containerfinish > div button {
  display: none;
}
.container-header > div {
  .timer {
    @include buttonStyle();
  }
  .select {
    @include buttonStyle();
  }
}
