$black: rgb(0, 0, 0);
$noopacity: rgba(255, 255, 255, 0);
$buttonColor: rgba(0, 0, 0, 0.5);
$shadow: 6px 6px 6px #00000005;
$white: rgba(255, 255, 255, 0.9);
$background: linear-gradient(
  135deg,
  rgba(255, 255, 255, 1) 0%,
  rgb(244, 244, 244) 100%
);
$primary: #5ab9ea;
$neoshadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

* {
  font-family: "Poppins", sans-serif !important;
}

@mixin displayFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin buttonStyle {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  color: $black;
  width: 120px;
  margin-right: 2px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  background: $background;
  border: none;
  &:hover {
    color: $black;
    border: none;
    outline: none;
  }
  &:focus {
    outline: none;
    color: $primary;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  }
}
.game {
  display: grid;
  height: 415px;
  width: 415px;
  grid-gap: 5px;
  margin: auto;
  grid-template-columns: 100px 100px 100px 100px;
  grid-row: 100px 100px 100px 100px;
  transition: all 0.1s ease;
  div {
    background: $white;
    background: $background;
    box-shadow: $neoshadow;
    border-radius: 5px;
    @include displayFlex(center, center);
    cursor: pointer;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: $white;
    }
  }
  .empty {
    background-color: $noopacity;
    background: transparent;
    box-shadow: none;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: $noopacity;
    }
  }
}
.container-button,
.container-header,
.containerfinish {
  height: 10vh;
  width: 70vh;
  margin: auto;
  @include displayFlex(space-evenly, center);
}
.container-button > div,
.container-header > div,
.containerfinish > div {
  @include displayFlex(center, center);
  transition: all 0.1s ease-in;
  button {
    @include buttonStyle();
  }
}
.container-button {
  margin-top: 10vh;
}

.containerfinish > div button {
  display: none;
}
.container-header > div {
  .timer {
    @include buttonStyle();
  }
}

@media only screen and (max-width: 768px) {
  #difficulty,
  #timer {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
  .container-header,
  .container,
  .container-button,
  .containerfinish {
    width: 90%;
    padding: 0;
    margin: auto;
    flex-wrap: wrap;
    div button {
      padding: 0.5rem 0.75rem;
      font-size: 0.8rem;
    }
  }
  .game {
    height: 326px;
    width: 326px;
    grid-gap: 2px;
    margin: auto;
    grid-template-columns: 80px 80px 80px 80px;
    grid-row: 80px 80px 80px 80px;
  }
  .container-button > div {
    grid-gap: 10px;
  }
}

.alert {
  display: none;
}

#timer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(244, 244, 244) 100%
  );

  font-weight: 200;
  box-shadow: $neoshadow;
  border-radius: 10px;
  color: $black;
  font-size: 4rem;
  padding: 1rem;
}

// MODAL

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

// RNAGE SLIDER

input[type="range"] {
  /* To remove default styles appplied by webkit browsers */
  -webkit-appearance: none;

  width: 25em;
  background: transparent;
  position: relative;
}

input[type="range"]:focus {
  /* To remove default (mostly blue) outline appplied by browsers on :focus */
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  /* Removes the default styling */
  -webkit-appearance: none;

  width: 1.5em;
  height: 1.5em;
  margin: 0.5em 0;
  background: $primary;
  border-radius: 100%;

  /* The inset shadow gives depth and makes the thumb look 3 dimensional and the other one shows a subtle effect of the shadow it creates because of the light source coming from the top left of the page */
  box-shadow: inset 0.8em 0.8em 5px -8px rgba(255, 255, 255, 0.4),
    inset -0.4em -0.4em 10px -3px rgba(0, 0, 0, 0.2),
    0.7em 0.5em 7px -0.5em rgba(0, 0, 0, 0.4);

  cursor: pointer;
}

/*All the same stuff for firefox */
input[type="range"]::-moz-range-thumb {
  width: 3em;
  height: 3em;
  margin: 0.5em 0;
  background: $primary;
  border-radius: 100%;
  box-shadow: inset 0.8em 0.8em 5px -8px rgba(255, 255, 255, 0.4),
    inset -0.4em -0.4em 10px -3px rgba(0, 0, 0, 0.2),
    0.7em 0.5em 7px -0.5em rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border: 0;
}

/* RUNNABLE TRACK -> represented by the indented carve in which the ball (thumb) moves */
/* Webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  width: 100%;
  height: 2em;
  padding: 0 1em;
  border-radius: 2em;

  /* These shadow are what create the skeumorphic indent on the track. The first one is dark to show places in the indent that light don't reach and the second one shows places where light meets thereby creating the illusion of depth */
  box-shadow: inset 0.6em 1em 10px rgba(0, 0, 0, 0.15),
    inset -0.6em -1em 10px rgba(255, 255, 255, 0.415);
}
/* For firefox */
input[type="range"]::-moz-range-track {
  background: transparent;
  width: 100%;
  height: 2em;
  padding: 0 1em;
  border-radius: 2em;
  box-shadow: inset 0.6em 1em 10px rgba(0, 0, 0, 0.15),
    inset -0.6em -1em 10px rgba(255, 255, 255, 0.415);
}

.containerfinish {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.footer {
  /* Makes the letters look embossed adding to the skeumorphic theme of the design */
  color: $buttonColor;
  text-shadow: 0.5px 0.5px 0.9px rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.difficulty {
  width: 25em;
}

// BUTTON CLOSE

.btn-close {
  @include buttonStyle();
  width: auto;
  margin-right: 0;
  height: auto;
  padding: 0.5rem;
}

@media screen and (max-width: 560px) {
  .container-button {
    margin-top: 2vh;
  }
  input[type="range"],
  .difficulty {
    width: 15em;
  }

  .container-button > div button {
    width: 100px;
    height: 40px;
  }

  .containerfinish {
    margin-top: 0vh;
    margin-bottom: 0vh;
    height: 2vh;
  }

  .modal-content {
    padding: 5px;
  }
}
